<section class="row">
    <div class="col-12">
        <h1 class="text-center">Formulario:</h1>
        <form action="/productos" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Título del producto</label>
                <input type="text" class="form-control" id="title" aria-describedby="tituloProducto" name="title">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio del producto</label>
                <input type="number" class="form-control" id="precio" aria-describedby="precioProducto" name="price">
            </div>
            <div class="mb-3">
                <label for="thumbnail" class="form-label">Link al Thumbnail/Imagen del producto</label>
                <input type="text" class="form-control" id="thumbnail" aria-describedby="linkImagenProducto" name="thumbnail">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</section>